body{margin: 0; padding: 0;margin: 0px auto; }
        img{width: 100%;height: 100%;}
        li{list-style: none;}
        ul{margin-left: 50px;}
        .wrapper{width: 100%;height: 100%;}
        header{width: 100%;height: 80px;background-image: url('../images/background.png');}
        .logo{width: 12%;height: 80px;margin-top: 5px;margin-left: 40px;float: left;}
        .search{width: 35%;height: 40px;margin-left: 50px;float:left;margin-top: 30px;}
        .button{width:3%;height: 40px;margin-left: -30px;float:left;margin-top: 30px;}
        .help{width: 40%;height: 50px;float: left;margin-left: 30px;margin-top: 15px;color: white;}
        .help-one{width: 30%;height: 40px;float: left;}
        .logo-user{width:37% ;height: 40px;float: left;}
        .help-two{width: 30%;height: 40px;float: left;}
        .help a{color: white;font-weight: bold;}
        nav{width: 100%;height: 40px;background-color: #DDDDDD;}
        nav ul{width: 100%;display: flex;}
        nav ul a:hover li{color: red;}
        nav ul li{padding: 8px 10px ;font-size: 15px;}
        nav ul li ul{ display: none;width: 250px;position: absolute;margin-top: 7px;margin-left: -20px;height: auto;background-color: white;z-index: 1}
        nav ul li ul li{width: 100%;height:auto;border: none;border-bottom: 1px solid #ccc;color:black;text-align: left;line-height: 23px;padding: 8px 0px;}
        nav ul li:hover ul{display:  block;}
        nav ul li {color: black;}
        nav ul a:hover{text-decoration: none;}
        nav ul li ul a:hover{text-decoration: none;}
        .a-list{margin-right: 40%;width: 280px;}
        .a-list a{color: black;}
        .a-list a:hover{color: red;}
        .c-content{ width: 100%;height: 1000px;}
        .home{width: 100%;height: 50px;background-color: white;font-size:  20px;padding: 5px 0px 0px 50px;}
        .home a{text-decoration: none;color: black;}
        .home a:hoer{color: black;}
        .khung{width: 1250px;height: 810px;margin:0px auto;}
        .book{width: 370px;height: 380px;background-color: white;float: left;margin-top: 15px;border: 2px solid #EEEEEE;border-radius: 5px 5px 5px 5px;}
        .book:hover{box-shadow: 5px 5px 5px 5px #AAA;}
        .p-km{width: 200px;height: 250px;background-color: red;float: left;margin-left:80px;margin-top: 10px;}
        .t-ghichu{width: 100%;height: 80px;background-color: white;float: left;margin-top: 8px;padding-left: 10px;}
        a:hover{color: black;}
        a{color: black;}
        h5{font-size: 18px;font-weight: bold;}
        p{color: black;}
        .book1{width: 370px;height: 380px;background-color: white;float: left;margin-left: 35px;margin-top: 15px;border: 2px solid #EEEEEE;border-radius: 5px 5px 5px 5px;}
        .book1:hover{box-shadow: 5px 5px 5px 5px #AAA;}
        .clear{width: 100%;height: 4px;background-color: red;}
        footer{width: 100%;height: auto;background-color: #BFFF00;}
        .footer-one{width: 100%;height: 206px;background-color: white;}
        .b-item{width: 200px;height: 200px;background-color: white;margin-left: 100px;float: left;}
        .c-item{width: 200px;height: 200px;background-color: white;margin-left: 120px;float: left;}
        .b-pic{width:100px;height: 100px;background-color: white;margin-top: 30px;margin-left: 40px;}
        .b-text{width: 200px;height: 40px;background-color: white;margin-top:15px;text-align: center;color: black;font-weight: bold;}
        .footer-two{width: 100%;height: 500px;background-image:url('../images/color-footer.png');}
        .footer-two img{width: 150px;height: 100px;}
        .end-img{width: 130px;height: 50px;background-image:url('../images/color-footer.png');}
        .end-img img{width:100%;height: 100%;}
        .row{margin-left: -70px;color: white;}
        h4{color: gray;}
        .footer-two a{text-decoration: none;color: white;}
        .footer-two a:hover{color: red;}
        .b-clear{width: 100%;height: 1px;background-color: white;margin-top: 20px;}
        .footer-three{width: 100%;height: 150px;background-image:url('../images/color-footer.png');margin-top: 5px;float: left;}
        .a-table{width: 350px;height: 126px;background-image: url('../images/son-footer.png');margin-left: 50px;margin-top:10px;float: left;border:1px solid ;border-radius: 5px 5px 5px 5px;color: gray;font-weight: bold;line-height: 30px;padding-left: 15px;padding-right:5px;font-size: 15px;}
        p{color: white;font-weight: normal;line-height: 20px;font-size: 12px;}
       
